header {
    display: flex;
    justify-content: center;
    /* border-bottom: 1px solid black; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav {
    width: 90%;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    gap: 3rem;
    align-items: center;
}

li {
    list-style: none;
    display: flex;
}

.logo {
    width: 100px;
}

.btn-login {
    background-color: #FD6934;
    color: #fff;
    padding: 10px 40px;
    border-radius: 15px;
}